<h1 [style.backgroundColor]="!isTechRelated ? 'yellow' : 'blue'">
  {{ title }}
</h1>

<p>
  {{ content }}<br /><br />Lorem ipsum dolor, sit amet consectetur adipisicing
  elit. Ducimus quas hic unde deserunt suscipit maxime explicabo, id eum dolor
  quasi perferendis aut voluptatum! Quibusdam ducimus, blanditiis impedit aut
  explicabo repellendus!
</p>
<!-- <p *ngIf="isTechRelated" -->

<p *ngIf="isTechRelated; else !isTechRelated">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat eius
  laudantium, quia commodi deleniti sint alias facilis numquam libero veritatis
  obcaecati fuga ducimus ex, quas nihil quidem eligendi reprehenderit.
  Provident.
</p>

<div class="container">
  <button
    class="btn btn-primary"
    [disabled]="!isTechRelated"
    (click)="onTechRelatedClick()"
    [(ngModel)]="isTechRelated"
  >
    change isTechRelated
  </button>
</div>
