<h1 [style.backgroundColor]="!isTechRelated ? 'yellow' : 'blue'">
  {{ title }}
</h1>

<p>
  {{ content }}<br /><br />Lorem ipsum dolor, sit amet consectetur adipisicing
  elit. Ducimus quas hic unde deserunt suscipit maxime explicabo, id eum dolor
  quasi perferendis aut voluptatum! Quibusdam ducimus, blanditiis impedit aut
  explicabo repellendus!
</p>

<div class="container">
  <button
    class="btn btn-primary"
    [disabled]="!isTechRelated"
    (click)="onTechRelatedClick()"
    [(ngModel)]="isTechRelated"
  >
    change isTechRelated
  </button>
</div>
